name: paniero_vitrine
description: Template site vitrine pour clients Paniero
publish_to: 'none'
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  go_router: ^13.0.0
  supabase_flutter: ^2.3.0
  google_fonts: ^6.1.0
  url_launcher: ^6.2.0
  flutter_markdown: ^0.6.18
  cached_network_image: ^3.3.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
